<div class="background-wrapper">
  <svg class="splash-title" viewBox="0 0 1500 150" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:#1bec95;stop-opacity:1"></stop>
        <stop offset="50%" style="stop-color:#101e24;stop-opacity:1"></stop>
      </linearGradient>
    </defs>
    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="splash-title-logo" font-weight="bold" fill="url(#grad1)">
      kTelemetry
    </text>
  </svg>

  <div class="splash-title-text">
    <div>Synthesize</div>
    <div>Analyze</div>
    <div>Optimize</div>
  </div>

  <!-- Button Group Container -->
  <div class="button-group">
    <button class="fancy-btn" onclick="login()">Login</button>
    <button class="fancy-btn" onclick="aboutUs()">About us</button>
  </div>
</div>
